.admin-main {
  h1 {
    margin-top: 10px;
    font-size: 20px;
    color: var(--text);
  }

  .desc {
    margin-top: 16px;
    max-width: 60ch;
    font-size: 18px;
  }

  code {
    font-family: var(--font-mono);
    font-size: 17px;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 1px 6px;
  }
}
